<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">TravelPlannerApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/trips/view-trips">My Trips</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Register</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
